@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.error-component{
    font-family: 'Montserrat', sans-serif;
    left: 40vw;
    position: absolute;
    margin: 0 auto;

}