@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.error-component{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 2rem;
  
    

}