

.restaurant-card {
  border: 1px solid tan;
  width: 30vw;
  text-align: center;
  border-radius: 10px;
  padding: 8px;
  background-image: linear-gradient(to bottom right, #ff3333, #ffff99);
  margin: 1rem auto;
  
  transition: linear 0.3s;
  cursor: pointer;
}


.restaurant-card:hover{
    transform: scale(1.05) translateZ(0);
    box-shadow: rgba(22, 22, 22,0.1) 10px 5px;
    overflow: hidden;
    
}


.restaurant-name{
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}

.restaurant-description{
    font-family: 'Montserrat', sans-serif;
}

.restaurant-address{
    font-family: 'Montserrat', sans-serif;
}

.restaurant-link{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 823px){
    .restaurant-card{
        width: 60vw;
    }
}