@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.restaurant-list-title{
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 59vw;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    

}

.restaurant-list{
   margin-top: 15rem;
}