

.restaurant-details {
  font-family: "Yusei Magic", sans-serif;
  text-align: center;
  position: relative;
  margin-top: 5vh;
  width: 100%;
}

.restaurant-page-title{
  color: black;
  font-size: 1.8rem;
}
.restaurant-details h2 {
  color: black;
 
}
.restaurant-images img {
  width: 25vw;
  height: 35vh;
  margin-top: 5vh;
  border: 1px solid black;
 padding: 15px;
 background-color: brown;
  transition: 0.4s all;
}

.restaurant-images {
  

  display: flex;
  justify-content: space-evenly;

}

.restaurant-details-card {
  background-image: linear-gradient(to bottom right, #ff3333, #ffff99);
  width: 75vw;
  color: black;
  margin: 5vh auto;
  text-align: center;
  border-radius: 15px;
  transition: all 0.4s;
  border: 1px solid #ffff99;
}
.restaurant-details-card:hover {
  box-shadow: 1px 5px rgba(241, 120, 90, 0.459);
  
  transform: scale(1.01);
}
.order-button{
  background-image: linear-gradient(to bottom right, #ff3333, #ffff99);
  height: 50px;
  width: 150px;
  cursor: pointer;
  font-family: "Yusei Magic", sans-serif;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 10px 0 10px 0;
}

.order-button:hover{
  background-image: linear-gradient(to bottom right, #ffff99, #ff3333);
  color: white;
}

.review-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.review-container select{
  background-image: linear-gradient(to bottom right, #ffff99, #ff3333);
}
.review-container label{
  display: block;
  font-size: 1.8rem;
}
.review-container button{
  background-image: linear-gradient(to bottom right, #ffff99, #ff3333);
}
@media screen and (max-width: 823px){
    .restaurant-images{
        flex-direction: column;
    }
    .restaurant-images img{
      transform: skew(0);
      border-radius: 10px;
        width: 75vw;
        margin: 10px auto;
        
    }
    .order-button{
      margin-bottom: 3rem;
    }
    .restaurant-details-card{
        width:90vw;
    }
    .restaurant-details-card h4 {
        font-size: 1rem;
    }
    .restaurant-details-card h5 {
        font-size: 1rem;
    }
}