

.restaurant-list-title{
    text-align: center;
    margin-left: 59vw;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: black;
     
    

}

.restaurant-list{
   margin-top: 8vh;
   position: relative;
  
   
   
}

.location-form{
    position: absolute;
    top: 20vh;
    left: 10vw;
     
}

.restaurant-list-restaurants{
    margin-left: 57vw;
    margin-top: 1.5rem;
}



.restaurants-pagination-container{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 73vw;
    width: fit-content;
}

.restaurants-pagination-container button{

    
    background-image: linear-gradient(to top, #ff3333, #ffff99);
    width: 100px;
    
}
@media screen and (max-width: 823px){
    .restaurant-list{
        text-align: center;
        margin-top: 0;
        position: relative;
        top: 10vh;
        
    }
    .location-form{
        top: -45vh;
        left: 0;
        margin: 0 auto;
        position: relative;
        display: block;
        width: fit-content;
    }
    .restaurant-list-restaurants{
        position: relative;
        margin: 0 auto;
        bottom: 30vh;
    }
    .restaurant-list-title{
        text-align: center;
        margin: 0;
        margin-top: 45vh;
        margin-bottom: 0;
    }
    .restaurants-pagination-container{
        left: 22vw;
        bottom: 20vh;
    }
}